/*
Plugin Name:  Plug Chat
Plugin URI: http://themeplugs.com/plugin/plugchat/
Author: Themeplugs
Author URI: http://themeplugs.com/
Version: 1.0.0
Text Domain: plugchat
Description: Plugchat is facebook chat for WordPress website. A feasible way to engage with the customer interactive sales experience for customers.
*/
.wp-menu-image {
    &.dashicons-before{
        img{
            width: 20px;
            height: auto;
            padding: 8px 0 5px 0 !important;
        }
    }
}
.plugchat-admin-wrapper{
    h2{
        font-size: 24px;
    }
}

.plugchat-form{
    .plugs-input{
        height: 40px;
        padding: 10px 15px;
    }
    .plugs-reply{
        width: 400px;
    }
}